  .markdown {
    margin: auto;
    margin-bottom: 2rem;
  }
  
  @media (min-width: 1280px) {
    .markdown {
      width: 1280px;
      padding: 0 10rem;
    }
  }
  
  @media (min-width: 1536px) {
    .markdown {
      max-width: 1536px;
      padding: 0 10rem;
    }
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown {
    font-size: 1rem;
    color: black;
  }

  .markdown blockquote {
    margin-left:0rem;
    border-left: 0.5rem gainsboro solid;
    padding: 1em;
    background-color: whitesmoke;
  }

  .markdown img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: auto;
    object-fit: contain;
  }

  .markdown strong {
    color: #101077;
  }
  
  .markdown h1,
  .markdown h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #FF5733;
    line-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .markdown h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #FF5733;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
    
  .markdown h4 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #FF5733;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
  
  .markdown a {
    color: var(--ion-color-primary);
  }
  
  .markdown a:hover {
    color: var(--ion-color-primary);
    text-decoration: underline;
  }

  