/* AboutFutureVisionSections.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Meet-Our-Team-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, #fdfdfd, #ec9898);
  height: 100vh;
  text-align: center;
}

.future-vision-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, #ec9898, #e45341);
  min-height: 100vh; 
  box-sizing: border-box;
  text-align: center;
}

.future-vision-header h1 {
  font-size: 2.5em;
  color: #1A1A1A;
  margin-bottom: 30px;
}

.future-vision-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .future-vision-cards {
    flex-direction: row;
  }
}

.future-vision-card {
  flex: 1;
  background: white;
  color: #1A1A1A;
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(4, 4, 4, 0.1); 
  margin-bottom: 20px;
}

.future-vision-card ul {
  list-style-type: none;
  padding: 0;
}

.future-vision-card li {
  margin: 10px 0;
}
